.CounterControl {
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin: 16px;
    padding: 20px;
    text-align: center;
    width: 150px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.CounterControl:hover,
.CounterControl:active {
    background-color: #eee;
}
